* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  
  .seccion1 {
    background-color: #000000;
    height: 100vh;
    background-image: url(./img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .seccion1 h1 {
    padding-top: 45px;
    color: white;
    text-align: center;
  }
  
  .seccion1 p {
    color: white;
    text-align: center;
    padding-top: 65vh;
    font-weight: bold;
    font-size: 20px;
  }
  
  .seccion1 div {
    text-align: center;
  }
  
  .seccion1 div button {
    margin: auto;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffffff;
    border: solid 1px rgb(0, 128, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(26, 155, 224);
  }
  
  .seccion1 div button a {
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0c0c0c;
    padding-top: 25vh;
    padding-bottom: 20px;
  }
  
  .card {
    margin: 15px;
    width: 150px;
    height: 200px;
    perspective: 1000px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
  }

  .seccion3{
    background-color: #0c0c0c;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
  }
  .seccion3 button{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffffff;
    border: solid 1px rgb(0, 128, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(26, 155, 224);
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .card.flipped .front {
    transform: rotateY(180deg);
  }
  
  .card.flipped .back {
    transform: rotateY(0);
  }
  
.card.selected {
    transform: scale(1.1); 
    filter: drop-shadow(0px 0px 30px rgba(253, 249, 249, 0.985));
  }
  
  .card.selected img {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  

  /* Estilos del modal */
.modal {
    display: none; /* Mantenerlo oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el modal esté encima de otros elementos */
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .modal h2 {
    color: #28a745;
  }
  
  .modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }
  
  /* Animación del modal */
  .modal-content {
    animation: fadeIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }